.about {
  width: 100vw;
  margin-top: 50px;

  .materiaux__titre {
    margin-top: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #444242;
    font-size: 18px;

    .materiaux__titre--trait2 {
      height: 1px;
      width: 27%;
      background-color: #444242;
    }

    .materiaux__titre--trait1 {
      height: 1px;
      width: 27%;
      background-color: #444242;
    }
  }

  .materiaux {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 80%;
    margin: auto;

    div {
      height: 18vh;
      text-align: center;

       span{
      display: block;
      font-family: 'Poppins', sans-serif;
      color: #444242;
      font-size: 14px;
      }
    }

    div:nth-child(1) span {
      margin-top: 20px;
    }

    div:nth-child(2) span {
      margin-top: 20px;
    }

    div:nth-child(3) span {
      margin-top: 20px;
    }

    div:nth-child(4) span {
      margin-top: 20px;
    }

    div:nth-child(5) span {
      margin-top: 20px;
    }

    div:nth-child(6) span {
      margin-top: 20px;
    }
  }
}

.label {
  width: 100vw;
  height: 25vh;
  background-color: #444242;
  
  .label__composant {
    height: 100%;
    width: 80%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;

    div {
      height: 18vh;
      width: 15vw;
      text-align: center;
  
      span {
        margin-top: 15%;
        display: block;
        color: white;
        text-align: left;
        margin-left: 15%;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
      }

      .label__composant--texte {
        margin-top: 21%;
      }
    }
  }
}