.about {
  width: 100vw;
  height: 100vh;

  .materiaux {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    div {
      height: 18vh;
      text-align: center;

       span{
      display: block;
      }
    }

    div:nth-child(1) span {
      margin-top: 20px;
    }

    div:nth-child(2) span {
      margin-top: 20px;
    }

    div:nth-child(3) span {
      margin-top: 20px;
    }

    div:nth-child(4) span {
      margin-top: 20px;
    }

    div:nth-child(5) span {
      margin-top: 20px;
    }

    div:nth-child(6) span {
      margin-top: 20px;
    }
  }
}

.label {
  width: 100vw;
  height: 30vh;
  background-color: #444242;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    height: 18vh;
    width: 15vw;
    text-align: center;

    span {
      display: block;
      color: white;
    }
  }
}