.accueil-1{
  width: 100%;
  height: 70vh;
}
.accueil-img{
  z-index: 100;
  margin-left: 40px;
}
.accueil-nav{
  display: flex;
}
li{
  display: flex;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  margin-left: 30%;
  z-index: 100;
  color: white;

}
ul{
  margin-left: 30px;
  font-weight: 300;
}
.nav-text{
  font-weight: bold;
}
.formeNav{
  position: absolute;
  z-index: 99;
  right: 0;
}
.Section-div{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  display: flex;
  margin-top: 7%;
  margin-left: 40px;
}
.section-div-text{
  width: 529px;
  height: 284px;
  margin-top: 20%;
}
.div-text-1{
  font-size: 20px;
  font-weight: bold;
}
.div-Text-2{
  font-size: 15px;
  font-weight: lighter;
}
.div-text-3{
  font-size: 16px;
}
.Section-div-img{
  height: 356px;
  width: 563px;
  z-index: 100;
  margin-left: 60px;
}
.section-img-cloud{
  position: absolute;
  z-index: 99;
  right: 20%;
  animation: moveclouds 15s linear infinite;
}
.section_img-cloud2{
  position: absolute;
  top: 23%;
  animation: moveclouds 10s linear infinite;
  z-index: 99;
}
@keyframes moveclouds {
0% {
  right: 20%;
  opacity:1;
}
100% {
  right: 48%;
  opacity:0;
}
}
.section-2{
  margin-top: 10%;
  width: 100%;
  height: 80vh;
  background-color: red;
}