.card {
  height: 80vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;

  h2 {
    margin-bottom: 5%;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: #444242;
  }

  @media (min-width: 1600px) {
    h2 {
      font-size: 21px;  
    }
  }

  .cards {
    display: flex;
    width: 90%;
    height: 70%;
    justify-content: space-evenly;
    margin: auto;

    h3 {
      margin-top: 8%;
      margin-bottom: 10%;
      font-size: 18px;
    }

    img {
      margin-top: 10%;
    }

    .card__texte {
      text-align: left;
      width: 80%;
      margin: auto;

      span {
        font-size: 17px;
      }

      @media (min-width: 1600px) {
        span {
          font-size: 19px;  
        }
    
        h3 {
          font-size: 20px;
        }
      }
    }

    .card__creation {
      width: 25%;
      height: 85%;
      text-align: center;
      border-radius: 10px;
      box-shadow: 10px 5px 25px rgb(185, 185, 185);
      line-height: 140%;

      h3 {
        font-weight: 600;
      }
      
      span {
        font-weight: 100;
      }
    }

    .card__reflexion {
      width: 25%;
      height: 85%;
      text-align: center;
      border-radius: 10px;
      box-shadow: 10px 5px 25px rgb(185, 185, 185);
      line-height: 140%;

      h3 {
        font-weight: 600;
      }
      
      span {
        font-weight: 100;
      }
    }

    .card__construction {
      width: 25%;
      height: 85%;
      text-align: center;
      border-radius: 10px;
      box-shadow: 10px 5px 25px rgb(185, 185, 185);
      line-height: 140%;

      h3 {
        font-weight: 600;
      }
      
      span {
        font-weight: 100;
      }
    }
  }
}