.condition {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;

  .image {
    margin-left: 3%;
  }

  .condition__texte {
    display: flex;
    position: absolute;
    width: 75%;
    right: 3%;
    justify-content: space-around;
    margin-top: 65px;
  }
}