.marque {
  margin-top: 10%;
  width: 100vw;

  h2 {
    margin-left: 10%;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: #444242;
  }

  .marque__grid {
    margin-top: 3%;

    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 150px 150px 150px 150px;
    justify-content: center;
    justify-self: center;

    div {
      .fnac__img {
        width: 85%;
        height: 85%;
      }
      .decathlon__img {
        width: 85%;
        height: 85%;
      }
      .caroll__img {
        width: 85%;
        height: 85%;
      }
      .leSlip__img {
        width: 85%;
        height: 85%;
      }
      .nature__img {
        width: 85%;
        height: 85%;
      }
      .printemps__img {
        width: 85%;
        height: 85%;
      }
      .louisVuitton__img {
        width: 85%;
        height: 85%;
      }
      .mac__img {
        width: 85%;
        height: 85%;
      }
      .lacoste__img {
        width: 85%;
        height: 85%;
      }
      .starbuck__img {
        width: 85%;
        height: 85%;
      }
      .levis__img {
        width: 85%;
        height: 85%;
      }
      .yves__img {
        width: 85%;
        height: 85%;
      }
      .jules__img {
        width: 85%;
        height: 85%;
      }
      .roche__img {
        width: 85%;
        height: 85%;
      }
      .tim__img {
        width: 85%;
        height: 85%;
      }
      .disney__img {
        width: 85%;
        height: 85%;
      }
      .zara__img {
        width: 85%;
        height: 85%;
      }
    }
  }
}