.marque {
  width: 100vw;
  height: 100vh;

  h2 {
    margin-left: 5%;
    font-size: 18px;
  }

  .marque__grid {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px 150px;
    justify-content: center;
    justify-self: center;

    div {
      .fnac__img {
        width: 100%;
      }
  
      .decathlon__img {
        width: 100%;
        height: 100%;
      }
      .caroll__img {
        width: 100%;
        height: 100%;
      }
      .leSlip__img {
        width: 100%;
        height: 100%;
      }
      .nature__img {
        width: 100%;
        height: 100%;
      }
      .printemps__img {
        width: 100%;
        height: 100%;
      }
      .louisVuitton__img {
        width: 100%;
        height: 100%;
      }
      .mac__img {
        width: 100%;
        height: 100%;
      }
      .lacoste__img {
        width: 100%;
        height: 100%;
      }
      .starbuck__img {
        width: 100%;
        height: 100%;
      }
      .levis__img {
        width: 100%;
        height: 100%;
      }
      .yves__img {
        width: 100%;
        height: 100%;
      }
      .jules__img {
        width: 100%;
        height: 100%;
      }
      .roche__img {
        width: 100%;
        height: 100%;
      }
      .tim__img {
        width: 100%;
        height: 100%;
      }
    }
  }
}